<div id="count">
    <span id="count__active"><%= data.todos.filter(function(val) {return !val.checked; }).length %></span> активных |
    <span id="count__archive"><%= data.todos.filter(function(val) { return val.checked; }).length %></span> в архиве
</div>
<ul>
    <% for (var i=0; i < data.todos.length; i++) { %>
    <li id="todo_<%= data.todos[i].id %>"
    <% if(data.todos[i].checked) { %>
    class="todo__item todo__item--checked"
    <% } else { %>
    class="todo__item"
    <% } %>
    >
    <input type="checkbox" <% if (data.todos[i].checked) { %>
    disabled
    checked
    <% } %>
    >
    <span class="todo__text todo__text-js"><%- data.todos[i].text %></span>
    <span class="todo__delete-btn-js">&times;</span>
    </li>
    <% } %>
</ul>