<div id="count">
    <span id="count__active"><%= data.todos.filter(function(val) {return !val.checked; }).length %></span> активных |
    <span id="count__archive"><%= data.todos.filter(function(val) { return val.checked; }).length %></span> в архиве
</div>
<ul>
    <% for (var i=0; i < data.todos.length; i++) { %>
    <li id="todo_<%= data.todos[i].id %>">
            <input type="checkbox" <% if (data.todos[i].checked) { %>
                disabled
                checked
            <% } %>
            >
            <span class="todo__text-js"><%- data.todos[i].text %></span>
        <i class="todo__delete-js-btn material-icons">delete</i>
    </li>
    <% } %>
</ul>