#todos-app {
    max-width: 430px;
    margin: 20px auto;
    padding: 10px;
}
#todos ul {
    list-style: none;
}
#todos-app .mdl-button {
    top: 12px;
    vertical-align: top;
}
#todos-app .mdl-textfield {
    margin-right: 10px;
}

.todo__item--checked .todo__text {
    text-decoration: line-through;
    color: gray;
}
.todo__item {
    margin: 10px 0;
}
.todo__item .todo__delete-btn-js {
    display: none;
    font-size: 17px;
    cursor: pointer;
}
.todo__item:hover .todo__delete-btn-js {
    display: inline;
}
.todo__item input[type=checkbox] {
vertical-align: middle;
}